@import "tailwindcss";

:root {
  --background: #e7e7e3;
  --foreground: #232321;
  --primary: #4a69e2;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
